<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modificationmarks -->
      <package
            uri="http://www.example.org/modificationmarks"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.ModificationmarksPackage"
            genModel="model/APReqModificationmarks.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated APSReqModificationmarks -->
      <package
            uri="http://www.example.org//modificationmarks"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.APSReqModificationmarksPackage"
            genModel="model/APSReqModificationmarks.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated APSReqModificationmarks -->
      <parser
            type="modificationmarks"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.util.APSReqModificationmarksResourceFactoryImpl"/>
   </extension>
</plugin>
