<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated APSReqModificationmarks -->
      <package
            uri="http://sdq.ipd.kit.edu/KAMP4APS4ReqModificationmarks/1.0"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.APSReqModificationmarksPackage"
            genModel="model/APSReqModificationmarks.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated APSReqModificationmarks -->
      <parser
            type="apsreqmodificationmarks"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.util.APSReqModificationmarksResourceFactoryImpl"/>
   </extension>

</plugin>
