<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modificationmarks_hardware -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.presentation.Modificationmarks_hardwareModelWizardID"
            name="%_UI_Modificationmarks_hardwareModelWizard_label"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.presentation.Modificationmarks_hardwareModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Modificationmarks_hardwareModelFile.gif">
         <description>%_UI_Modificationmarks_hardwareModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modificationmarks_hardware -->
      <editor
            id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.presentation.Modificationmarks_hardwareEditorID"
            name="%_UI_Modificationmarks_hardwareEditor_label"
            icon="icons/full/obj16/Modificationmarks_hardwareModelFile.gif"
            extensions="modificationmarks_hardware"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.presentation.Modificationmarks_hardwareEditor"
            contributorClass="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.presentation.Modificationmarks_hardwareActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
          <objectContribution
                adaptable="false"
                id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.APSReqHardwareModificationRepositoryID"
                objectClass="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.APSReqHardwareModificationRepository">
             <action
                   class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.editor.APSReqHardwareArchitectureBasedWorkplanDerivationAction"
                   icon="../edu.kit.ipd.sdq.kamp/icons/run.png"
                   id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.editor.APSReqArchitectureBasedWorkplanDerivationActionID"
                   label="Step 5: Calculate activities"
                   menubarPath="edit">
             </action>
             <action
                   class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.editor.APSReqHardwareChangePropagationAction"
                   icon="../edu.kit.ipd.sdq.kamp/icons/run.png"
                   id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.editor.APSReqHardwareChangePropagationActionID"
                   label="Step 3: Calculate APSReq change propagation"
                   menubarPath="edit">
             </action>
             <enablement></enablement>
          </objectContribution>
     </extension>
</plugin>
