<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modificationmarks_hardware -->
      <package
            uri="http://www.example.org/modificationmarks_hardware"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.Modificationmarks_hardwarePackage"
            genModel="model/modificationmarks_hardware.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated modificationmarks_hardware -->
      <parser
            type="modificationmarks_hardware"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks_hardware.util.Modificationmarks_hardwareResourceFactoryImpl"/>
   </extension>

</plugin>
