<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modificationmarks_hardware -->
      <package
            uri="http://www.example.org/modificationmarks_hardware"
            class="modificationmarks_hardware.Modificationmarks_hardwarePackage"
            genModel="model/modificationmarks_hardware.genmodel"/>
   </extension>

</plugin>
