<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated APSReqModificationmarks -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.presentation.APSReqModificationmarksModelWizardID"
            name="%_UI_APSReqModificationmarksModelWizard_label"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.presentation.APSReqModificationmarksModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/APSReqModificationmarksModelFile.gif">
         <description>%_UI_APSReqModificationmarksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated APSReqModificationmarks -->
      <editor
            id="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.presentation.APSReqModificationmarksEditorID"
            name="%_UI_APSReqModificationmarksEditor_label"
            icon="icons/full/obj16/APSReqModificationmarksModelFile.gif"
            extensions="modificationmarks"
            class="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.presentation.APSReqModificationmarksEditor"
            contributorClass="edu.kit.ipd.sdq.kamp4aps4req.model.modificationmarks.presentation.APSReqModificationmarksActionBarContributor">
      </editor>
   </extension>
</plugin>
