<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated apshardwareoptions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="apshardwareoptions.presentation.ApshardwareoptionsModelWizardID"
            name="%_UI_ApshardwareoptionsModelWizard_label"
            class="apshardwareoptions.presentation.ApshardwareoptionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ApshardwareoptionsModelFile.gif">
         <description>%_UI_ApshardwareoptionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated apshardwareoptions -->
      <editor
            id="apshardwareoptions.presentation.ApshardwareoptionsEditorID"
            name="%_UI_ApshardwareoptionsEditor_label"
            icon="icons/full/obj16/ApshardwareoptionsModelFile.gif"
            extensions="apshardwareoptions"
            class="apshardwareoptions.presentation.ApshardwareoptionsEditor"
            contributorClass="apshardwareoptions.presentation.ApshardwareoptionsActionBarContributor">
      </editor>
   </extension>

</plugin>
