<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modificationmarks_software -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="modificationmarks_software.presentation.Modificationmarks_softwareModelWizardID"
            name="%_UI_Modificationmarks_softwareModelWizard_label"
            class="modificationmarks_software.presentation.Modificationmarks_softwareModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Modificationmarks_softwareModelFile.gif">
         <description>%_UI_Modificationmarks_softwareModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modificationmarks_software -->
      <editor
            id="modificationmarks_software.presentation.Modificationmarks_softwareEditorID"
            name="%_UI_Modificationmarks_softwareEditor_label"
            icon="icons/full/obj16/Modificationmarks_softwareModelFile.gif"
            extensions="modificationmarks_software"
            class="modificationmarks_software.presentation.Modificationmarks_softwareEditor"
            contributorClass="modificationmarks_software.presentation.Modificationmarks_softwareActionBarContributor">
      </editor>
   </extension>

</plugin>
